body{

background:#0b0f1a;
color:white;
font-family:Arial;
text-align:center;

}

.team-input{

margin:30px;

}

.team-input input{

padding:10px;
margin:5px;
width:200px;

}

.team-input button{

padding:12px;
margin-top:10px;
background:#22c55e;
border:none;
color:white;
cursor:pointer;

}

.bracket{

display:flex;
justify-content:center;
gap:60px;
margin-top:40px;

}

.round{

background:#111827;
padding:20px;
border-radius:10px;

}

.round div{

background:#1f2937;
padding:10px;
margin:10px 0;
border-radius:6px;

}